header {
    margin-bottom: 1.5em;
}
img {
    border-radius: 1.5em;
    margin: 0.5em;
}
nav {
    border: 0.1em solid;
    border-radius: 2em;
    float: right;
    height: 8em;
    margin: 2em;
    padding: 1em;
    width: 70%;
}
aside {
    border-right: 0.1em solid;
    display: block;
    float: left;
    height: 25.01em;
    padding-right: 0.5em;
    width: 200px;
}
main {
    height: 25em;
    margin-left: 13em;
    padding-left: 1em;
}
footer {
    border-top: 0.1em solid;
    border-left: 0.1em solid;
    display: inline-block;
    padding: 1em;
    width: 64em;
}
a:visited {
    color:red;
}
a:hover {
    color:green;
}
a:link {
    color:#f95;
}
